{% extends 'default.html' %}
{% load i18n %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>{% trans "Log in" %}</h2>
        <hr>

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
        </form>
        <hr>
        <div class="signup-link">
            <p>{% trans "Don't have an account?" %} <a href="/accounts/signup">{% trans "Sign up" %}</a></p>
        </div>
        <div class="google-login">
            <p><a href='/accounts/google/login/?process=login' class="btn btn-outline-dark">{% trans "Login with Google" %}</a></p>
        </div>
    </div>
</div>
{% endblock %}
