{% extends 'default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    {% if is_not_author %}
        <div class="text-center mb-4">
            <a href="{% url 'create_author' %}" class="btn btn-secondary">{% trans "Become an author" %}</a>
        </div>
    {% endif %}

    {% if posts %}
        <h1 class="text-center mb-4">{% trans "All posts" %}</h1>
        <hr />

        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'post_detail' post.id %}" class="text-dark text-decoration-none">{{ post.title }}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.created_at|date:'d M Y' }}</h6>
                            <p class="card-text">{{ post.text|truncatewords:20|safe }}</p>
                            <p class="card-text">
                                {% for category in post.category.all %}
                                    <a href="{% url 'category_list' category.id %}" class="badge bg-primary text-light">#{{ category }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary" href="?{% url_replace page=1 %}">1</a>
                {% if page_obj.previous_page_number != 1 %}
                    <span class="btn btn-outline-primary disabled">...</span>
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}

            <span class="btn btn-light">{{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                    <span class="btn btn-outline-primary disabled">...</span>
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="text-center">
            <h3>{% trans "No publications found" %}</h3>
        </div>
    {% endif %}
</div>
{% endblock content %}
