{% extends 'default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
{% if post %}
<table width="100%" style="margin-top: 50px">
    <tr>
        <td>{% trans "Heading" %}</td>
        <td>{% trans "Date of publication" %}</td>
        <td>{% trans "Content" %}</td>
        <td>{% trans "Category" %}</td>
    </tr>
    <tr>
        <td>{{post.title}}</td>
        <td>{{post.created_at|date:' d M Y '}}</td>
        <td>{{post.text|safe}}</td>
        {% for cat in post.category.all %}
        <td>{{cat.name}}</td>
        {% endfor %}
    </tr>
</table>
<p>&nbsp;</p>

<div style="text-align: left;">
    <button style="background-color: #007bff; /* Blue */
                    border: none;
                    color: white;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 8px; /* Softened edges */">
        <a href="{% url 'post_delete' post.id %}" style="color: white; text-decoration: none;">
            {% trans "Delete" %}
        </a>
    </button>

    <button style="background-color: #007bff; /* Blue */
                    border: none;
                    color: white;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 8px; /* Softened edges */">
        <a href="{% url 'post_edit' post.id %}" style="color: white; text-decoration: none;">
            {% trans "Edit" %}
        </a>
    </button>
</div>

{% else %}
<h3> {% trans "No publications found" %}</h3>
{% endif %}
{% endblock content%}
