{% extends 'default.html' %}
{% load i18n %}

{% block title %}
Create Reply
{% endblock title %}


{% block content %}
    <div style="text-align: center;">
        <h1>{% trans "Adding a new reply" %}</h1>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="text-align: center;">
                <input type="submit" class="btn btn-success" value='{% trans "Submit" %}'>
            </div>
        </form>
    </div>
{% endblock content %}
